#include <windows.h>
#include "resource.h"

IDD_TEXT_PROMPT DIALOGEX 0, 0, 272, 91
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "QuickYeet"
FONT 9, "Segoe UI"
BEGIN
    LTEXT           "Value", IDC_PROMPT_TEXT, 10, 10, 252, 18
    EDITTEXT        IDC_VALUE, 10, 31, 252, 14, ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK", IDOK, 157, 66, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 212, 66, 50, 14
END
